EDGE.Business/Web References/AuthService/AuthenticationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://emerald.experientedge.com/Services/AuthenticationService.svc?xsd=xsd2" />
  <xs:element name="LoginByUsernamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ttlSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByUsernamePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginByUsernamePasswordResult" nillable="true" type="ServiceResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByAuthToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auth" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ttlSeconds" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginByAuthTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginByAuthTokenResult" nillable="true" type="ServiceResponseOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>