EDGE.Business/Web References/AuthService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_AuthenticationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_AuthenticationService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="CustomBinding_AuthenticationService2_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://emerald.experientedge.com/Services/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://emerald.experientedge.com/Services/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://emerald.experientedge.com/Services/AuthenticationService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://emerald.experientedge.com/Services/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataManagement.Framework.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationService_LoginByUsernamePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginByUsernamePassword" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_LoginByUsernamePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginByUsernamePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_LoginByAuthToken_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginByAuthToken" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_LoginByAuthToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginByAuthTokenResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationService">
    <wsdl:operation name="LoginByUsernamePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/AuthenticationService/LoginByUsernamePassword" message="tns:AuthenticationService_LoginByUsernamePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AuthenticationService/LoginByUsernamePasswordResponse" message="tns:AuthenticationService_LoginByUsernamePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginByAuthToken">
      <wsdl:input wsaw:Action="http://tempuri.org/AuthenticationService/LoginByAuthToken" message="tns:AuthenticationService_LoginByAuthToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AuthenticationService/LoginByAuthTokenResponse" message="tns:AuthenticationService_LoginByAuthToken_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AuthenticationService" type="tns:AuthenticationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginByUsernamePassword">
      <soap:operation soapAction="http://tempuri.org/AuthenticationService/LoginByUsernamePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByAuthToken">
      <soap:operation soapAction="http://tempuri.org/AuthenticationService/LoginByAuthToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_AuthenticationService" type="tns:AuthenticationService">
    <wsp:PolicyReference URI="#CustomBinding_AuthenticationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginByUsernamePassword">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByUsernamePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByAuthToken">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByAuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_AuthenticationService1" type="tns:AuthenticationService">
    <wsp:PolicyReference URI="#CustomBinding_AuthenticationService1_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginByUsernamePassword">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByUsernamePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByAuthToken">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByAuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomBinding_AuthenticationService2" type="tns:AuthenticationService">
    <wsp:PolicyReference URI="#CustomBinding_AuthenticationService2_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginByUsernamePassword">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByUsernamePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginByAuthToken">
      <soap12:operation soapAction="http://tempuri.org/AuthenticationService/LoginByAuthToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="BasicHttpBinding_AuthenticationService" binding="tns:BasicHttpBinding_AuthenticationService">
      <soap:address location="http://emerald.experientedge.com/Services/AuthenticationService.svc/soap" />
    </wsdl:port>
    <wsdl:port name="CustomBinding_AuthenticationService" binding="tns:CustomBinding_AuthenticationService">
      <soap12:address location="http://emerald.experientedge.com/Services/AuthenticationService.svc/bme" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://emerald.experientedge.com/Services/AuthenticationService.svc/bme</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_AuthenticationService1" binding="tns:CustomBinding_AuthenticationService1">
      <soap12:address location="http://emerald.experientedge.com/Services/AuthenticationService.svc/bmez" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://emerald.experientedge.com/Services/AuthenticationService.svc/bmez</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="CustomBinding_AuthenticationService2" binding="tns:CustomBinding_AuthenticationService2">
      <soap12:address location="http://emerald.experientedge.com/Services/AuthenticationService.svc/bmegz" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://emerald.experientedge.com/Services/AuthenticationService.svc/bmegz</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>