EDGE.Business/Service References/EdgeRegService/RegistrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://qa.experientedge.com/Services/RegistrationService.svc?xsd=xsd2" />
  <xs:complexType name="TupleOfintArrayOfevwContactSearchLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwContactSearch" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwContactSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwContactSearchLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwContactSearchLjh4bohd" />
  <xs:complexType name="ArrayOfNullableOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfint" nillable="true" type="tns:ArrayOfNullableOfint" />
  <xs:complexType name="ArrayOfNullableOfboolean">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="boolean" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfboolean" nillable="true" type="tns:ArrayOfNullableOfboolean" />
  <xs:complexType name="TupleOfintArrayOfevwListContactSearchLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwListContactSearch" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwListContactSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwListContactSearchLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwListContactSearchLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwContactDemoLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwContactDemo" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwContactDemo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwContactDemoLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwContactDemoLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwEventSearchLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwEventSearch" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwEventSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwEventSearchLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwEventSearchLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwCompanySearchLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwCompanySearch" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwCompanySearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwCompanySearchLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwCompanySearchLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwCompanySearchPrimaryAddressLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwCompanySearchPrimaryAddress" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwCompanySearchPrimaryAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwCompanySearchPrimaryAddressLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwCompanySearchPrimaryAddressLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwCompanySearchBranchAddressLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwCompanySearchBranchAddress" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwCompanySearchBranchAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwCompanySearchBranchAddressLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwCompanySearchBranchAddressLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwCompanyDemoLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwCompanyDemo" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwCompanyDemo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwCompanyDemoLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwCompanyDemoLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwContactTransactionLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwContactTransaction" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwContactTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwContactTransactionLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwContactTransactionLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwEventDemographicMappingSearchLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwEventDemographicMappingSearch" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwEventDemographicMappingSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwEventDemographicMappingSearchLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwEventDemographicMappingSearchLjh4bohd" />
  <xs:complexType name="TupleOfintArrayOfevwContactRegistrationLjh4bohd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfevwContactRegistration" Namespace="" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:int" />
      <xs:element name="m_Item2" nillable="true" type="ArrayOfevwContactRegistration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfintArrayOfevwContactRegistrationLjh4bohd" nillable="true" type="tns:TupleOfintArrayOfevwContactRegistrationLjh4bohd" />
</xs:schema>